.tag-container {
  display: inline-block;
  height: 15px;
  line-height: 15px;
  font-size: 0.625rem;
  padding: 0 0.375rem;
  font-weight: 700;
  border-radius: 0.25rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #363636;
  margin-right: 3px;
}
