.container {
	display: inline-block;
	border-radius: 12px;
	border: 1px solid black;
	width: max-content;
	height: max-content;
	white-space: nowrap;
	padding: 0.2em 0.5em;
	margin: 0 0.3em;
	cursor: pointer;
}
