.container {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color-primary);
    color: hsl(0, 0%, 4%);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    height: 130px;
    transition: background-color 0.5s ease;
    h2 {
      font-size: 2.5rem;
      font-weight: bold;
      color: var(--text-color);
    }
  }
  .option {
    & > div {
      display: flex;
      align-items: center;
      padding: 16px;
      cursor: pointer;
      width: max-content;
      color: var(--text-color);
      fill: var(--text-color);
      p {
        margin-left: 16px;
      }
      & > div > p:last-child {
        font-size: 0.8rem;
      }
    }
  }
}
