@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Cambay:wght@400;700&family=Poppins:wght@600&family=Raleway:wght@600&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
h1 {
	margin: 0;
	font-family: "Raleway", sans-serif;
}
h2 {
	font-family: "Poppins", sans-serif;
}
h3 {
	font-family: "Poppins", sans-serif;
}
p {
	font-family: "Cambay", sans-serif;
}
