@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap");
@import-normalize;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

h1 {
	margin: 0;
	font-family: "Kosugi Maru", sans-serif;
}

.header-container {
	display: flex;
	flex-direction: column;
	height: 500px;
	justify-content: center;
	align-items: center;
}
.header-container > h1 {
	font-size: 3rem;
}
.header-container > form {
	margin-top: 1em;
}
.search-box {
	position: relative;
	display: inline-block;
	margin: 0 1em;
}
.search-box > input {
	height: 26px;
	border: none;
	border-radius: 8px;
	border: 1px solid black;
	padding-left: 20px;
}
.search-box svg {
	position: absolute;
	top: 50%;
	transform: translate(20%, -50%);
}

.manga-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	margin-bottom: 5em;
	max-width: 1366px;
	margin: 0 auto;
}

@media only screen and (min-width: 768px) {
	.manga-container {
		grid-template-columns: repeat(5, minmax(128px, 1fr));
	}
}
