@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.text-high {
		@apply text-dark-00dp opacity-[87%] dark:text-white;
	}
	.text-medium {
		@apply text-dark-00dp opacity-[60%] dark:text-white;
	}
	.text-disabled {
		@apply text-dark-00dp opacity-[38%] dark:text-white;
	}
}

@layer utilities {
	.clip-image {
		clip-path: inset(0 0);
	}
	.no-scrollbar::-webkit-scrollbar {
		@apply hidden;
	}
	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}

.dark {
	@apply bg-dark-00dp;
}
